.projects {
    padding: 2rem;
    text-align: center;
    color:white;
    background-color: #1f1f1f;
}
.project-stack {
    justify-content: center;
    align-items: stretch;
}
.project-deck {
    padding: 0 1rem 0 1rem;
    margin-top: 2rem;
}
.project-card {
    text-align: left;
    height: 100%;
}
.project-img {
    float: left;
    padding: 0 1rem 1rem 0;
    width: 80px;
}
.project-icons {
    padding: 0 0 0 0.6rem;
    max-width: 3.2rem;
}