.projects {
    padding: 10vh 2rem 2rem 2rem;
    text-align: center;
    color:white;
    display: grid;
    align-items: center;
    justify-content: center;
}
.project-stack {
    justify-content: center;
    align-items: stretch;
    max-width: 120rem;
    animation: default-anim 0.8s ease;
    animation-fill-mode: both;
}
.project-deck {
    padding: 0 1rem 0 1rem;
    margin-top: 2rem;
}
.project-card {
    text-align: left;
    height: 100%;
}
.project-img {
    float: left;
    padding: 0 1rem 1rem 0;
    width: 80px;
}

.project-icons {
    padding: 0 0 0 0.6rem;
    max-width: 3.2rem;
}
.project-buttons {
    border: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0);
}
.project-buttons:focus {
    outline: none;
}

.project-modal .modal-content {
    background-color: #1f1f1f;
    width: auto;
}

.project-video .modal-content{
    background-color: #1f1f1f;
}
.modal-dialog {
    justify-content: center;
    scrollbar-color: #CCCECF #1F1F1F !important;
    scrollbar-width: thin !important;
}
.project-modal-img {
    max-height: calc(100vh - 90px);
    overflow-y: auto;
}

.carousel-control-prev-icon {
    width: 2rem;
    height: 2.71828183rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2rem;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon {
    width: 2rem;
    height: 2.71828183rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2rem;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}