.resume {
    padding: 2rem;
    text-align: center;
    color:white;
}

.resume-pdf {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    animation: default-anim 0.8s ease;
    animation-fill-mode: both;
}