.about {
  padding: 2rem;
  max-width: 80rem;
  height: 100vh;
  text-align: center;
}

.experience {
  padding: 2rem;
  height: 100vh;
  background-color: skyblue;
}

.projects {
  padding: 2rem;
  height: 100vh;
  background-color: mediumpurple;
}

.resume {
  padding: 2rem;
  height: 100vh;
  background-color: tomato;
}