.about {
  padding: 2rem;
  max-width: 80rem;
  height: 100vh;
  text-align: center;
}

.experience {
  padding: 2rem;
  height: 100vh;
  background-color: skyblue;
  text-align: center;
}

.projects {
  padding: 2rem;
  height: 100vh;
  background-color: mediumpurple;
  text-align: center;
}

.footer {
  padding: 2rem;
  text-align: center;
  color:white;
  background-color: black;
}